/**
 * project name: jd-Allstar
 * author: 大树
 * date: 2015/10/20
 * action:reset
**/
html {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
  box-sizing: border-box;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
ul,
ol,
li,
dl,
dt,
dd,
hr {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
fieldset,
em {
  font-style: normal;
}
fieldset,
legend {
  margin: 0;
  padding: 0;
  border: none;
}
fieldset legend,
legend legend {
  display: none;
}
a {
  text-decoration: none;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
select,
textarea {
  padding: 0;
  -webkit-appearance: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media only screen and (min-width: 400px) {
  html {
    font-size: 0.95rem !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 0.97rem !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 1.2rem !important;
  }
}
