@font-face {
    font-family: 'fornike365';
    src: url('../font/tradegothicfornike365-bdcn.eot');
    src: local('☺'), url('../font/tradegothicfornike365-bdcn.woff') format('woff'), url('../font/tradegothicfornike365-bdcn.ttf') format('truetype'), url('../font/tradegothicfornike365-bdcn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: none;
    margin: 0;
    padding: 0;
    font-family: "STHeiti SC";
}

.rank {
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    min-height: 43.3rem;
    box-sizing: border-box;
    padding: 1.3rem 1rem 2rem;
    overflow: hidden;
}

.rank .title {
    font-size: 2.2rem;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    width: auto;
}

.rank .box {
    padding: 1.5rem 0;
    width: 23.5rem;
    height: 33rem;
    margin: 0.5rem auto 0;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #fa6b0e;
    box-shadow: 0 10px 0 rgba(250, 106, 6, 0.8);
}
.rank .box .tab {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 21rem;
    height: 2rem;
    margin: 0 auto;
    background: none;
    border-radius: 0;
    font-size: 1rem;
    color: #fa6b0e;
    font-weight: bold;
    text-align: center;
    /*border: 1px solid #fa6b0e;*/
}
.tab-title{
    display: none;
}
.rank .box .tab .item {
    border-radius: 0;
    width: 11rem;
    padding: 0.4rem 0 0.2rem;
    line-height: 0.75rem;
    border: 1px solid #fa6b0e;
}
.rank .box .list {
    display: block;
    width: 23.9rem;
    padding: 0 2.0rem 0.5rem 0.8rem;
    box-sizing: border-box;
    height: 29rem;
    margin-top: .5rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.rank .box .list ._span {
    font-family: 'fornike365';
    font-style: oblique;
    font-size: 1.4rem;
    text-align: right;
    display:inline-block;
    width: 3.5rem;
    line-height: 1rem;
    letter-spacing: -1px;
}
.__span{
    font-family: 'fornike365';
    font-size: 0.6rem;
    letter-spacing: 0;
}
.grey-1{
    color: #fa6a0e!important;
}
.grey-2{
    color: #fa6a0e!important;
}
.grey-3{
    color: #fa6a0e!important;
}
.rank .box .list .list-li {
    padding-top: 1.0rem;
    color: #8a8a8a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rank .box .list .list-li i {
    height: 1.6rem;
    width: 1rem;
    /*  margin-right: 1rem;*/
}

.rank .box .list .list-li ._div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    height: 3rem;
}
.rank .box .list .list-li .a-box{
    display: flex;
    width: 9rem;
    height: 2.9rem;
}
.teamname {
    width: 6rem;
    font-size: 0.8rem;
    text-align:center;
    margin-left: 0;
    border-bottom: none;
    word-wrap: break-word;
    text-decoration: underline;
}
.distance {
    display: block;
    font-family: 'fornike365';
    font-size: 1.5rem;
    margin-right: -1rem;
    text-align: center;
    width: 4rem;
    word-break: break-all;
}
.a-box .belong{
    font-family: 'fornike365';
    font-size: 0.7rem;
    width: 100%;
    font-style: oblique;
}
.rank .box .list ._a {
    display: inline-block;
    font-size: 1rem;
    width: 5rem;
    margin-left: -1rem;
    word-wrap: break-word;
}

.rank .box .list .distance {
    display: block;
    font-family: 'fornike365';
    font-size: 1.2rem;
    text-align: center;
    width: 4rem;
    word-break: break-all;
}

.tab_1{
    display: flex;
    width: 22rem;
    margin: 0 auto 1rem;
    align-items: center;
    justify-content: space-between;
    background: #7b7b7b;
    border-radius: 8px;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.brl{
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}
.brr{
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}
.active{
    background: #fa6b0e;
    color: #fff;
}
.active-1{
    display: block!important;
}
.tab_1-p{
    font-size: 0.6rem;
    font-weight: normal;
    font-family: 'fornike365';
}
/*team-member pop*/
.tab-title-pop{
    display: flex;
    margin-left: 4.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
    /*  border-bottom: 1px solid #d8ba97;*/
}
.tab-title-pop ._p{
    font-size: 1.1rem;
    font-weight: bold;
    color: #fa6a0e;
    text-align: center;
    line-height: 0.8rem;
    border-bottom: 1px solid #f05f06;
}
.team-member{
    display: none;
}
.team-member-box{
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    width: 21rem;
    height: 34rem;
    margin: 0 auto;
    background: rgba(255,255,255,1);
    border: 2px solid #fa6a0e;
    border-radius: 8px;
    /* box-shadow: 6px 10px 0 rgba(250, 106, 6, 1); */
}
.team-member-list{
    display: block;
    margin: 0;
    padding: 0.5rem 2.0rem 0.5rem 0rem;
    height: 23.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.team-member-list-item{
    padding-top: 0.6rem;
    color: #fa6a0e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-member-list-item i{
    height: 1.2rem;
    width:1.2rem;
}
.captain::before {
    content: '';
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    background: url(../img/captain.png) no-repeat;
    background-size: contain;
    background-position: center;
}
.team-member-list-div{
    width: 6rem;
    text-align: left;
}
.team-member-num{
    font-family: 'fornike365';
    font-style: oblique;
    font-size: 1.2rem;
    display: block;
    width: 3rem;
    line-height: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-left: -0.5rem;
}
.team-member-num img{
    width: 50%!important;
}
.team-member-list-div .name-2{
    font-size: 1rem;
    /*margin-left: -5rem;*/
    /* border-bottom: 1px solid #fa6b0e;*/
}
.team-member-totle{
    font-family: 'fornike365';
    font-size: 1rem;
    width: 5rem;
    text-align: right;
    word-break:break-all;
    margin-right: -1rem;
}
.team-member-box .title{
    padding-top: 0 !important;
    font-size: 2rem;
    font-style: oblique;
    text-align: center;
    color: #fa6b0e;
    line-height: 1.5rem;
    height: 4rem;
    width: auto;
    border-bottom: 1px solid #fa6a0e;
}
/*.team-member-box .title img{
    display: block;
    margin: 0 auto;
    width: 50%;
}*/
.team-member-box .title a.close{
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background: url("../img/close-btn2.png")no-repeat;
    background-size: contain;
    border-bottom: none;
    position: absolute;
    top: 1rem;
    left: 1rem;

}
.item_1{
    display: block;
    border-left: 1px solid #ffffff;
    width: 6.7rem;
    height: 1.6rem;
    padding: 0.2rem 0 0;
    line-height: 1.6rem;
    font-family: 'fornike365';
    font-weight: lighter;
    letter-spacing: 1px;
}

.li-text{
    display: inline-block;
    width: 100%;
}
.choose-item {
    padding-top: 0.6rem;
    box-sizing: border-box;
    display: block;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 3px 0 #eb5e0c;
    border: 2px solid #ea5012;
    width:9rem;
    height: 3.0rem;
    line-height: 0.8rem;
    border-radius: 10px;
    text-align: center;
    color: #fc5219;
    font-family: 'fornike365';
    font-size: 1.2rem;
    font-style: oblique;
    margin: 10rem auto 0;
}
::-webkit-scrollbar {
    border-radius: 10px;
    width: 16px;
    height: 16px;
    background-color: #cccccc;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
    height: 5px;
    border-radius: 10px;
    background-color: #fa6b0e;
}
.text{
    width: 21rem;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.6rem;
    color: #f97c01;
    font-family: 'fornike365';
    font-weight: bold;
}
.text span{
    font-size: 1.1rem;
}
.home{
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    left: 1rem;
    top:1rem;
}
.prize{
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
   top: 1rem;
    right:1rem;
}